
main {
    font-family: 'Courier New', Courier, monospace;
    width: 900px;
}

table {
    align-items: center;
    border-collapse: collapse;
    margin: 3em;
}

td {
    border: solid 2px black;
    padding:0.75em;
}

#albums-table {
    display: none;
}
