
main {
    font-family: 'Courier New', Courier, monospace;
}

table {
    border-style: dashed;
    align-items: center;
}

td {
    padding: 4px;
    border-style: solid;
    border-collapse: collapse;
    padding:0.25px;
}
